*
			{
				padding: 0;
				margin: 0;
				border: 0px;
			}
			body
			{
				background-image: url('obrazki/tlo_strony.jpg');
				background-attachment: fixed;
				/*background-repeat: repeat-x;
				background-color: #64646c;*/
			}	
			
			a
			{
				color: teal;
				text-decoration: none;
				border-bottom: 1px dotted gray;
			}
			a:hover
			{
				color: #06376C;
			}
			
			#kontener
			{
				width: 1004px;
				margin: 0 auto;
			}
			
			/* GÓRNA CZĘŚĆ KONTENERA */
			
			#gorna_czesc_kontenera
			{
				position: relative;
				margin-top: 10px;
				background-image: url('obrazki/gora_i_dol.gif');
				width: 944px;
				height: 113px;
			}
			img.logo
			{
				position: absolute;
				border: 0;
				left: 20px;
				top: 20px;				
			}
			
			#kontakt_box
			{
				position: absolute;
				right: 40px;
				top: 7px;
				font-family: "Trebuchet MS", Helvetica, sans-serif;
				font-size: 11px;
				color: white;
				line-height: 125%;
			}
			#kontakt_box a
			{
				border-bottom: none;
			}
			
			/* MENU GÓRNE */
			
			#gorne_menu
			{
				position: absolute;
				left: 50px;
				bottom: -1px;
			}
			#wlasciwe_gorne_menu li
			{
				list-style-type: none;
				float: left;
				border-right: 1px solid #2E2121;
			}
			#wlasciwe_gorne_menu li a
			{
				background-image: url('obrazki/srodek_menu_gornego.gif');
				height: 31px;
				display: block;
				float: left;
				border-bottom: none;
				padding: 0px 10px;
				font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
				font-size: 10px;
				font-weight: bold;
				color: white;
			}
			#wlasciwe_gorne_menu li a:hover, #wlasciwe_gorne_menu li.aktualny a
			{
				background-image: url('obrazki/srodek_menu_gornego_hover.gif');
				color: #CCCCCC;
			}
			span.link
			{
				display: inline-block;
				margin-top: 10px;
			}
			/* ŚRODKOWE MENU */
			#srodkowe_menu
			{
				background-image: url('obrazki/srodkowe_menu.gif');
				width: 944px;
				height: 32px;
			}
			#srodkowe_menu li
			{
				list-style-type: none;
				float: left;
			}
			#srodkowe_menu li a
			{
				border-bottom: none;
				color: #C7C7D4;
				font-size: 13px;
				font-family: "Trebuchet MS", Helvetica, sans-serif;
				font-weight: bold;
				font-style: italic;
			}
			#srodkowe_menu li a:hover
			{
				color: white;
			}			
			#srodkowe_menu li span.link2
			{
				display: block;
				margin-top: 7px;
			}
			#srodkowe_menu #pierwszy_poziom
			{
				margin-left: 70px;
			}
			#srodkowe_menu span.odstepik
			{
				display: inline-block;
				margin: 5px 10px 0px 10px;
				color: #C7C7D4;
			}

			/*menu rozwijane */
			
			#pierwszy_poziom li .drugi_poziom{

				display:none;

			}
			
			#pierwszy_poziom li:hover .drugi_poziom{
				display:block;
				width:210px;
			}

			#pierwszy_poziom li .drugi_poziom li
			{
				width: 150px;
				text-align: left;
			}

			#pierwszy_poziom li{
				position: relative;
			}

			#pierwszy_poziom li .drugi_poziom{
				position: absolute;
				top:1.9em;
				left: 0em;

			}

			#pierwszy_poziom > li{
				height: 32px;
			}

			#pierwszy_poziom li .drugi_poziom{

				background-color: #0F3250;
				border-left: 4px solid gray;
				border-bottom: 1px solid gray;
				border-right: 1px solid gray;
				opacity: 0.9;
				filter: alpha(opacity=90);
			
			}

			#pierwszy_poziom li .drugi_poziom li{

				margin-left: 30px;
				border-top: 1px solid #CCCCCC;
				
			}

			#pierwszy_poziom li .drugi_poziom li a{
				display: block;
				width:150px;
				margin-bottom: 5px;
				padding-bottom: 5px;
			}

			#pierwszy_poziom li .drugi_poziom li a:hover{
				background-color: #CCCCCC;
				padding-left: 20px;
				margin-left: -20px;
				padding-right: 20px;
				margin-top: -1px;
				border-top: 1px solid #CCCCCC;
				color:black;
			}

			#zawartosc{
				width:944px;
			}

			#gorna_czesc_zawartosci{
				background-color: gray;
				width: 944px;
				height: 100%;
			}
			/*]]>*/